.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/Login_Bg.jpg");
  background-size: cover;
  background-position: center center;
}

.login-wrapper {
  height: 560px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
  border-radius: 5px;
  overflow: hidden;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(30, 0, 0, 0.7) 40%,
    rgba(70, 0, 0, 0.5) 100%
  );
}

.nav-buttons {
  width: 100%;
  padding-top: 40px;
  opacity: 1;
  margin-bottom: 6em;
}

.nav-buttons button {
  background-color: inherit;
  font-size: 1.5em;
  margin-right: 1em;
  border: 0px;
  cursor: pointer;
}

.nav-buttons button.active {
    padding-bottom: 10px;
    border-bottom: solid 2px #4d0000;
}

#loginButton,
#registerButton {
    color: #fff;
    transition: all 0.5s ease;
}

.form-group input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
}

.form-group label {
  text-transform: none;
}

.submit {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 8px 0px;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  margin-top: 23px;
  background: rgba(150, 0, 0, 0.35);
  border: 1px solid #b00000;
}

.panel {
  color: gray;
}

.customIcon {
  position: absolute;
  left: auto;
  right: 10px;
  text-indent: 32px;
  top: 102px;
}

button {
  cursor: pointer;
}